.header {
  text-align: center;
  h2 {
    font-size: 2.625rem;
    font-family: var(--f-family);
    font-weight: var(--fw-thin);
    margin-bottom: 1.75rem;
  }
  .header__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.filter {
  display: flex;
  align-items: center;
  column-gap: 1.75rem;
}
